body {
  background-color: rgb(93, 219, 230);
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
